{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "lflorez@co.ibm.com",
      "Space": "Connect2017"
    },
    "Name": "tallerBogotaLflorez",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}